<div align="center" class="Identify">	
	<span>Use la herramienta para identificar elementos en el mapa:</span> 
	<br/>
	<div align="center" dojoType="dijit.form.ToggleButton" dojoAttachPoint="identifica" baseClass="esriButton" checked="false" iconClass="identificaIcon" showLabel="false" dojoAttachEvent="onClick:identificaToggleButton"></div>							
	<div align="center" dojoType="dijit.form.ToggleButton" dojoAttachPoint="limpia" baseClass="esriButton" checked="false" iconClass="clearIcon" showLabel="false" dojoAttachEvent="onClick:limpiaToggleButton"></div>
</div>
